@font-face {
  font-family: Bebas-Regular;
  src: url(../../../assets/fonts/Bebas-Regular.otf);
}

@font-face {
  font-family: Poppins-M;
  src: url(../../../assets/fonts/Poppins-Medium.otf);
}

@font-face {
  font-family: Poppins-B;
  src: url(../../../assets/fonts/Poppins-Bold.otf);
}

@font-face {
  font-family: Mont-M;
  src: url(../../../assets/fonts/Montserrat-Medium.otf);
}

.time-label {
  color: #002e47;
  --color: #002e47;
}

#container {
  margin: 20px;
}

.add_field-button {
  --expand: block;
}

.fileUpload {
  color: #f9f9f9;
  border-width: 2px;
  padding: 7px 10px;
  border-style: solid;
  border-color: #002e47;
  position: relative;
  overflow: hidden;
  margin: 4px;
  text-align: center;
  border-radius: 5px;
  font-family: Poppins-M;
  background: #002e47;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.fileUpload:active {
  background-color: #bad3ff;
}

ion-toolbar {
  font-family: Poppins-M;
}

ion-content {
  --background: #eae2b7 !important;
}

label {
  border-radius: 5px;
  color: #002e47;
  font-family: Poppins-M;
  padding: 1px 6px;
}

ion-input {
  //   --background: linear-gradient(
  //     to right,
  //     rgba(226, 226, 226, 1) 0%,
  //     rgba(254, 254, 254, 0.98) 100%
  //   );
  border-bottom: 1px solid #002e47;
  --placeholder-color: #002e47;
  --color: #002e47;
}

ion-select {
  --background: #002e47;
  background: #002e47;
  display: block;
  width: 100%;
  border-radius: 5px;
  --display: block;
}

ion-button {
  font-family: Poppins-M;
}
