@font-face {
  font-family: Bebas-Regular;
  src: url(../../../assets/fonts/Bebas-Regular.otf);
}

@font-face {
  font-family: Poppins-M;
  src: url(../../../assets/fonts/Poppins-Medium.otf);
}

@font-face {
  font-family: Poppins-B;
  src: url(../../../assets/fonts/Poppins-Bold.otf);
}

@font-face {
  font-family: Mont-M;
  src: url(../../../assets/fonts/Montserrat-Medium.otf);
}

@font-face {
  font-family: GI-R;
  src: url(../../../assets/fonts/GlacialIndifference-Regular.otf);
}

// General
#container {
  margin: 0 auto;
}
h4 {
  font-size: 18px;
}
h6 {
  margin-bottom: 10px;
}
textarea {
  width: 100%;
  margin: 1px;
  border: 1px solid #e1e1e1;
  height: 100px;
  margin-top: 10px;
}

.my-custom {
  --background: #222;
  --spinner-color: #ffc409;
  color: #fff;
}

// Section
ion-img {
  width: 100%;
  height: 100%;
}
.section-wrapper {
  margin: 0 auto;
  width: 80%;
}
.section {
  margin-bottom: 20px;
}
.section-title {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.section-content {
}
.section-text {
  font-size: 14px;
  color: gray;
  padding: 0;
  margin-bottom: 5px;
}
.bookmark-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  --ion-color-contrast: red !important;
  --ion-color-base: #fff !important;
  // --box-shadow: none !important;
  --border-radius: 40px;
  width: 40px;
  height: 40px;
  font-size: 10px;
}

.category-tab {
  padding: 20px;
}

.chip-category {
  top: 22px;
  left: 30px;
}

.comment-content {
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.comment-input {
  padding: 0;
  box-shadow: none;
}
.comment-header {
  position: relative;
}
.comment-rating {
  position: absolute;
  top: 0;
  right: 0;
}
.comment-txt {
  color: #a1a1a1;
  line-height: 24px;
  font-size: 14px;
}

.star-review {
  color: #ffca28;
}

* {
  font-family: Poppins-M;
}

ion-content {
  --background: #eae2b7;
}

.section-title {
  color: #002e47;
  --color: #002e47;
}

.section-text {
  color: #002e47;
  font-family: GI-R, Calibri;
  background: #f9f9f9;
  --background: #f9f9f9;
  padding: 3px 5px;
  border-radius: 2px;
}

.time-text {
  background: transparent;
}

.comment-txt,
textarea {
  font-family: GI-R, Calibri;
}

textarea {
  color: #002e47;
}

.comment-txt {
  color: #f7f1d0;
}

.comment-contents {
  background: #8d7a64;
}
