<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Nama Resep</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row id="category">
    <ion-col>
      <ion-chip>
        <ion-icon name="pin" color="primary"></ion-icon>
        <ion-label>Icon Chip</ion-label>
        <ion-icon name="close"></ion-icon>
      </ion-chip>
    </ion-col>
    <ion-col>
      <ion-chip>
        <ion-icon name="pin" color="primary"></ion-icon>
        <ion-label>Icon Chip</ion-label>
        <ion-icon name="close"></ion-icon>
      </ion-chip>
    </ion-col>
    <ion-col>
      <ion-chip>
        <ion-icon name="pin" color="primary"></ion-icon>
        <ion-label>Icon Chip</ion-label>
        <ion-icon name="close"></ion-icon>
      </ion-chip>
    </ion-col>
  </ion-row>
  <div id="container">
    <ion-row id="image">

    </ion-row>
    <div id="ingredients-slot">

    </div>
    <div id="directions-slot">

    </div>
    <ion-row>
      <label>
        <span>Time to Cook: </span>
        <span>0 </span> <span>Hours </span>
        <span>0 </span> <span>Minutes</span>
      </label>
    </ion-row>
  </div>
</ion-content>
