<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button color="primary"></ion-menu-button>
		</ion-buttons>
		<ion-searchbar placeholder="Search Category.." (ionInput)="search($event)" animated></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div id="container">
		<ion-row>
			<ion-col *ngFor="let category of categoryList">
				<ion-card>
					<ion-card-header>
						<ion-card-title>{{category.title}}</ion-card-title>
						<ion-img [src]="category.imageLink"></ion-img>
					</ion-card-header>
					<ion-card-content>
						{{category.description}}
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</div>
</ion-content>