@font-face {
  font-family: Bebas-Regular;
  src: url(../../../assets/fonts/Bebas-Regular.otf);
}

@font-face {
  font-family: Poppins-M;
  src: url(../../../assets/fonts/Poppins-Medium.otf);
}

@font-face {
  font-family: Poppins-B;
  src: url(../../../assets/fonts/Poppins-Bold.otf);
}

@font-face {
  font-family: Mont-M;
  src: url(../../../assets/fonts/Montserrat-Medium.otf);
}

ion-searchbar {
  --color: #000;
  --placeholder-color: #000;
  --border-radius: 5px;
  --box-shadow: none;
  --background: #f2f2f2;
  font-family: Mont-M;
}

ion-card {
  //   background: linear-gradient(
  //     75deg,
  //     rgba(0, 46, 71, 1) 0%,
  //     rgba(2, 53, 79, 1) 40%,
  //     rgb(0, 70, 107) 100%
  //   );
  //   background: #8d7a64;
  background: #002e47;
  font-family: Poppins-B;
}

ion-content {
  --background: #eae2b7 !important;
}

ion-card-title {
  text-align: center;
  color: #f9f9f9;
}

.card-header-custom {
  text-align: left;
}
