<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-searchbar placeholder="Search Menu.." animated></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-button [routerLink]="['/tabs/details-recipe-online']">To Details</ion-button>
    <ion-row>
      <ion-col *ngFor="let recipe of (recipeCloud | async)">
        <ion-card (click)="toDetails(recipe.id)">
          <ion-card-header>
            <ion-card-title>{{recipe.title}}</ion-card-title>
            <ion-img [src]="recipe.imageLink"></ion-img>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>    
      </ion-col>
    </ion-row>
  </div>
</ion-content>