<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list no-line class="inputs">
    <ion-item>
      Nama Lengkap:
      <ion-input type="text" placeholder=" ..." [(ngModel)]="nama"></ion-input>
    </ion-item>
    <ion-item>
      Username:
      <ion-input type="text" placeholder=" ..." [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      Password:
      <ion-input type="text" placeholder=" ..." [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button (click)="signup()" expand="block" >Singup</ion-button>
      <ion-button (click)="cancel()" expand="block" color="danger" >Cancel</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
