@font-face {
  font-family: Bebas-Regular;
  src: url(../assets/fonts/Bebas-Regular.otf);
}

@font-face {
  font-family: BebasNeue-Regular;
  src: url(../ourassets/fonts/BebasNeue-Regular.otf);
}

@font-face {
  font-family: Gotham-Medium;
  src: url(../ourassets/fonts/Gotham-Medium.otf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../ourassets/fonts/Montserrat-Bold.otf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(../ourassets/fonts/Montserrat-Medium.otf);
}

@font-face {
  font-family: Helvetica-Neue-Light;
  src: url(../ourassets/fonts/HelveticaNeue-Light.ttf);
}

@font-face {
  font-family: Helvetica-Neue;
  src: url(../ourassets/fonts/Helvetica-Neue.ttf);
}

@font-face {
  font-family: GlacialIndifference-Regular;
  src: url(../ourassets/fonts/GlacialIndifference-Regular.otf);
}

@font-face {
  font-family: Merriweather-Light;
  src: url(../ourassets/fonts/Merriweather-Light.ttf);
}

@font-face {
  font-family: Gotham-Light;
  src: url(../ourassets/fonts/Gotham-Light.otf);
}

@font-face {
  font-family: Gotham-Black;
  src: url(../ourassets/fonts/Gotham-Black.otf);
}

@font-face {
  font-family: Body-Text-Large-ExtraBold-trial;
  src: url(../ourassets/fonts/Body-Text-Large-ExtraBold-trial.ttf);
}

@font-face {
  font-family: Helvetica-Neue-Black-Cond;
  src: url(../ourassets/fonts/Helvetica-Neue-Black-Cond.ttf);
}

@font-face {
  font-family: Gotham-Book;
  src: url(../ourassets/fonts/Gotham-Book.otf);
}
