<ion-header>
  <ion-toolbar>
    <ion-title>edit</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home" (click)="backButton()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <label>
    <h3>Ingredients</h3>
  </label>
  <ion-row *ngFor="let ingredient of ingredientsArray">
    <ion-col>
      <ion-input
        class="ingredients-fielde"
        placeholder="e.g. 1kg Sugar"
      ></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button
        expand="block"
        fill="outline"
        (click)="add_ingredients_field()"
        class="add_field-button"
        >Add Ingredients</ion-button
      >
    </ion-col>
  </ion-row>
  <ion-button color="primary" (click)="edit()">Confirm</ion-button>
</ion-content>
