<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="Search Menu.." animated></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer>
  <!-- Button Home -->
  <button class="footer-icon"> 
    <div> 
      <ion-icon name="home"></ion-icon> <br> 
      <label>Home</label> 
    </div> 
  </button>
  <!-- Button Upload -->
  <button class="footer-icon"> 
    <div> 
      <ion-icon name="home"></ion-icon> <br> 
      <label>Home</label> 
    </div> 
  </button>
  <!-- Button Bookmark -->
  <button class="footer-icon"> 
    <div> 
      <ion-icon name="home"></ion-icon> <br> 
      <label>Home</label> 
    </div> 
  </button>
  <!-- Button Download -->
  <button class="footer-icon"> 
    <div> 
      <ion-icon name="home"></ion-icon> <br> 
      <label>Home</label> 
    </div> 
  </button>
</ion-footer>